<p>Last <%= widget_properties['LastBreakers'] %> Breakers:</p> 
<ol class="data">
	<% for i in 1..widget_properties['LastBreakers'] %>
		<li class="even"><span>Tincho</span><img src="http://wiki.globant.com/internos/pics/alejandro.fernandez.jpg" style="width:40px" alt="Pict"/></li>
	<% end %>
</ol>